body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background: black;
    text-align: center;
  }

  p{
    background:white;
    height: auto;
    display: table;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin:auto;
    grid-auto-flow: column;
    text-align: center;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 300;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: black;
    text-align: center;
  }
  
  main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
    text-align: center;


  }

  button {
    margin-bottom: 10px;
    line-height: 50px;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
    background-color: rgb(255, 230, 0);
    max-width: 800px;
    border-color: rgb(255, 230, 0);

  }
  button:hover {
    background: rgb(255, 230, 0);
    box-shadow: inset 0 0 0 5px black;
  }


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
  text-align: left;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}